{% include "header_home.html" %}
    <div class="container">
      <div class="contenthome">
        <h1>Klasifikasi Kematangan Pada Buah Kakao Dengan Menggunakan Metode CNN</h1>
        <img src="{{ url_for('static', filename='usulogo.png') }}" />
        <h2>NAME</h2>
        <h3>NIM</h3>

        <div class="button-content">
          <a href="/train"><button class="btn btn-success mr-20">Train</button></a>
          <a href="/classification"><button class="btn btn-success">Klasifikasi</button></a>
        </div>
      </div>
    </div>
<style>
  .contenthome{
    background-color: #dedede;
    padding:40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden !important;
  }

  .contenthome img{
    width:200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .contenthome h1,h2,h3{
    margin-bottom: 20px;
  }

  .contenthome button {
    padding: 15px 10px;
    width: 120px;
  }

  .mr-20{
    margin-right: 15px;
  }
</style>
{% include "footer.html" %}