{% include "header.html" %}
        <div class="search-container">
          <form class="form-container" id="form" enctype="multipart/form-data">
          <div class="form-group">
            <label>Input data (.csv)</label>
            <div class="row d-flex " style="align-items: center;">
              <div class="col-sm-10">
                <input type="file" class="form-control" name="file" id="search" aria-describedby="emailHelp" placeholder="Type keyword" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              </div>
              <div class="col-sm-2 text-center">
                <button type="submit" class="btn btn-primary btn-custom">Train Data</button>
              </div>
            </div>
          </div>
        </div>
      </form>
        <div id="resultTrain" class="imageresultTrain">
          <h4>Train Data Berhasil !!! <a href="/download">save model</a></h4>
          <div class="imageresult">
            <div style="display:flex;flex-direction:column">
              <img id="loss" src="" />
              <label>Loss</label>
            </div>
            <div style="display:flex;flex-direction:column">
              <img id="acc" src="" />
              <label>Accuracy</label>
            </div>
            <div style="display:flex;flex-direction:column">
              <img id="cm" src="" />
              <label>Confusion Matrix</label>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='jquery.min.js')}}"></script>
<script type="text/javascript">
  $(function () {
    var acc = false;
    var loss = false;
    var cm = false;

    $('#resultTrain').hide();
    $('#form').on('submit',function (e) {
      e.preventDefault();
       var form_data = new FormData($('form')[0]);

      var file = $('input[name=file]').val();
      var filename = file.split('.')[1];
      $('#img').show(); //<----here
      if (file == "") {
        alert("Data tidak boleh kosong")
        $('#img').hide();
        return false
      }
      
      $.ajax({
        type: 'POST',
        url: '/train_process',
        contentType: false,
        processData: false,
        data: {
          data:'null'
        },
        success: function (res) {
          //TODO Success
          $('#resultTrain').show();
          $('#img').hide();
          acc = true;
          loss = true;
          cm = true;
          if (loss) {
            $('#loss').attr('src', 'static/assets/loss.png');
          }
          if (acc) {
            $('#acc').attr('src', 'static/assets/accuracy.png');
          }
          if (cm) {
            $('#cm').attr('src', 'static/assets/confusion_matrix.png');
          }
          $('#classes').text('Hasil prediksi: ' + label[res.data]);
        },
        error: function (err) {
          $('#img').hide();
          console.log(err)
        }
      });
    });
  });
</script>
{% include "footer.html" %}